/* ==========================================================================
   Variables
   ========================================================================== */


/* Global Values
   ========================================================================== */


/* Colors
   ========================================================================== */

$black:                     #000;
$white:                     #FFF;
$neutral:                   #F4F2EF;
$extra-dark-grey:           #222;

$stop:                      #E11313;
$wait:                      #FFCC00;
$go:                        #00AE7B;


/* z-index
   ========================================================================== */
$header-z-index:            1000;


/* Scaffolding
   ========================================================================== */

$body-bg:                   $neutral;
$text-color:                $white;

$link-color:                $extra-dark-grey;
