<div class="accessible">
  <section class="accessible-section" ng-repeat="section in ::accessible.data">
    <h3>{{::section.title}}</h3>
    <img ng-src="{{::section.imageUrl}}" class="accessible-section-image" ng-class="{'accessible-section-fullwidth' : section.fullWidth}" alt="" />
    <div class="accessible-section-copy">
      <p ng-if="section.copy">{{::section.copy}}</p>
      <a href="{{::section.linkUrl}}" ng-if="section.linkCopy" class="accessible-section-link">{{::section.linkCopy}}</a>
    </div>
  </section>
</div>
