<div class="zero-rating">
  <div class="zero-rating__content">
    <div class="zero-rating__triangle-main" ng-repeat="title in ::zeroRating.data.mainTriangle">
      <p>{{title}}</p>
    </div>
    <div class="zero-rating__circle-outside" ng-repeat="content in ::zeroRating.data.outsideCircle">
      <p>{{content}}</p>
    </div>
    <div class="zero-rating__triangle-sides"><p>{{::zeroRating.data.sideTriangle}}</p></div>
    <div class="zero-rating__triangle-sides"><p><img src="/images/zero-rating-gain-users.png"></p></div>
    <div class="zero-rating__triangle-sides"><p><img src="/images/zero-rating-negotiate.png"></p></div>
    <div class="zero-rating__triangle-inside"><p>{{::zeroRating.data.insideTriangle}}</p></div>
    <div class="zero-rating__triangle-side-detail"><p><img src="/images/zero-rating-pay.png"></p></div>
  </div>
</div>
