<div class="accessible">
  <section class="accessible-section" ng-repeat="section in ::accessible.data">
    <h3>{{::section.title}}</h3>
    <img ng-src="{{::section.imageUrl}}" class="accessible-section-image" ng-class="{'accessible-section-fullwidth' : section.fullWidth}" alt="" />
    <div class="accessible-section-copy">
      <p ng-if="section.copy">{{::section.copy}}</p>
      <a href="{{::section.linkUrl}}" ng-if="section.linkCopy" class="accessible-section-link" rel="external">{{::section.linkCopy}}</a>
    </div>
  </section>
  <!-- angular does not have an if..else so, this is the next best thing -->
  <ul class="source" ng-switch on="{{::accessible.infographic._source}}">
    <li ng-switch-when="{{::accessible.infographic._source.src}}">
      <span>{{::accessible.infographic._source.label}}</span>
      <a href="{{::accessible.infographic._source.src}}" rel="external">{{::lineGraph.infographic._source.name}}</a>
    </li>
    <li ng-switch-default>
      <span>{{::accessible.infographic._source.label}}</span>
      {{::accessible.infographic._source.name}}
    </li>
  </ul>
</div>
