<section id="detail" class="container" ng-show="detail.isOpen">
  <nav class="banner-nav-wrap" ng-controller="NavCtrl">
    <svg class="banner-nav-bg" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <linearGradient id="banner-nav-bg__gradient" x1="0" x2="0" y1="0" y2="1">
              <stop class="banner-nav-bg__stop" offset="60%" stop-opacity="0.9" />
              <stop class="banner-nav-bg__stop" offset="100%" stop-opacity="0" />
          </linearGradient>
      </defs>
      <rect width="100%" height="100%" fill="url(#banner-nav-bg__gradient)" />
    </svg>
    <ul class="banner-nav">
      <li><a href="/detail/access" data-topic="access" class="banner-nav__link" ng-class="{'is-active': nav.active==='access'}" ng-click="nav.handleClick('access')">Access</a></li>
      <li><a href="/detail/control" data-topic="control" class="banner-nav__link" ng-class="{'is-active': nav.active==='control'}" ng-click="nav.handleClick('control')">Control</a></li>
      <li><a href="/detail/safety" data-topic="safety" class="banner-nav__link" ng-class="{'is-active': nav.active==='safety'}" ng-click="nav.handleClick('safety')">Safety</a></li>
      <li><a href="/detail/fairness" data-topic="fairness" class="banner-nav__link" ng-class="{'is-active': nav.active==='fairness'}" ng-click="nav.handleClick('fairness')">Fairness</a></li>
    </ul>
  </nav>
  <section class="main--detail" data-lorax-issue-all></section>
</section>