<div ng-click="detail.nextIssue()" class="down-arrow-nav"></div>
<div id="{{issue.getId()}}" ng-repeat="issue in detail.model.getIssues()" data-lorax-issue-details data-inverted="false" data-issue-status="{{issue.getStatusDescription()}}" data-issue-name="{{issue.getId()}}">
    <header class="infographic__header">
            <h1>{{issue.getInfographic().getHeader()}} <span>{{issue.getInfographic().getSubheader()}}</span></h1>
    </header>
    <div class="infographic__wrapper">
        <div>
            {{issue.getInfographic().drawInfographic()}}
        </div>
    </div>
</div>