<article class="detail cf" data-status="{{::issueDetails.issueStatus}}">
  <header class="detail__header" ng-class="{'detail__header--map': issueDetails.issue.getInfographicIsMap()}">
    <div class="detail-header-section">{{::issueDetails.issue.getName()}}</div>
    <h1 class="detail-header-title">{{::issueDetails.issue.getTitle()}}</h1>
  </header>
  <section class="detail__main" ng-class="{'detail__main--map': issueDetails.issue.getInfographicIsMap()}">
    <div class="detail-main">
      <div class="detail-main__copy">{{::issueDetails.issue.getNarrative()}}</div>
      <div class="detail-tags detail-tags--main" ng-if="::issueDetails.issue.getTags()">
        <span class="detail-tags__title">Related Tags:</span>
        <a href="#" class="detail-tags__tag" ng-repeat="tag in ::issueDetails.issue.getTags()">{{tag.getName()}}</a>
      </div>
    </div>
  </section>
  <section class="detail__infographic" ng-class="{'detail__infographic--map': issueDetails.issue.getInfographicIsMap()}">
    <section class="infographic" ng-transclude></section>
  </section>
  <section class="detail__more" ng-class="{'detail__more--map': issueDetails.issue.getInfographicIsMap()}">
    <ul class="detail-links cf">
      <li>
        <section class="detail-link">
          <header class="detail-link__header">
            <h1>What Mozilla is doing</h1>
          </header>
          <p class="detail-link__copy">{{::issueDetails.issue.getMozActionCopy()}}</p>
          <a ng-if="::issueDetails.issue.getMozActionLink().length === 1" href="{{::issueDetails.issue.getMozActionLink()[0].url}}" class="btn detail-link__btn">{{::issueDetails.issue.getMozActionLink()[0].copy}}</a>
          <a ng-if="::issueDetails.issue.getMozActionLink().length > 1" ng-repeat="link in ::issueDetails.issue.getMozActionLink()" href="{{link.url}}" class="detail-link__multiple icon-arrow-right">{{link.copy}}</a>
        </section>
      </li>
      <li>
        <section class="detail-link">
          <header class="detail-link__header">
            <h1>What you can do</h1>
          </header>
          <p class="detail-link__copy">{{::issueDetails.issue.getYourActionCopy()}}</p>
          <a ng-if="::issueDetails.issue.getYourActionLink().length === 1" href="{{::issueDetails.issue.getYourActionLink()[0].url}}" class="btn detail-link__btn">{{::issueDetails.issue.getYourActionLink()[0].copy}}</a>
          <a ng-if="::issueDetails.issue.getYourActionLink().length > 1" ng-repeat="link in ::issueDetails.issue.getYourActionLink()" href="{{link.url}}" class="detail-link__multiple icon-arrow-right">{{link.copy}}</a>
        </section>
      </li>
    </ul>
    <div class="detail-tags detail-tags--more" ng-if="::issueDetails.issue.getTags()">
      <span class="detail-tags__title">Related Tags:</span>
      <a href="#" class="detail-tags__tag" ng-repeat="tag in ::issueDetails.issue.getTags()">{{tag.getName()}}</a>
    </div>
  </section>
</article>
