<section class="modal modal--side-panel" ng-if="modalAbout.open">
  <div class="side-panel-overlay" ng-click="modalAbout.closeModal()"></div>
  <div class="side-panel side-panel--about" ng-class="{true: 'moveToRight', false: 'moveFromRight'}[modalAbout.open]">
    <a href="#" class="modal__close modal__close-absolute icon-close-inv" data-lorax-prevent-default ng-click="modalAbout.closeModal()">Close</a>
    <div class="side-panel__content">
      <h1 class="side-panel-title">{{::modalAbout.content.title}}</h1>
      <div class="side-panel-copy">
        <p ng-repeat="paragraph in modalAbout.content.copy">{{paragraph}}</p>
      </div>
    </div>
  </div>
</section>
