<article id="modal-issue" class="modal modal--fade-show modal-issue" ng-show="modalIssue.open" >
  <button class="btn modal__close modal__close-absolute icon-close" data-lorax-prevent-default ng-click="modalIssue.closeModal()">Close</button>
  <div class="content-container" ng-class="modalIssue.isMap ? 'map' : ''">
    <header>
      <h1>{{modalIssue.issue.getName()}}</h1>
      <h2 class="detail-header-title">{{modalIssue.issue.getTitle()}}</h2>

      <p>{{modalIssue.issue.getNarrative()}}</p>
    </header>

    <figure class="infographic__wrapper">
      <figcaption class="infographic__header">
        {{modalIssue.issue.getInfographic().getHeader()}}
        <span>{{modalIssue.issue.getInfographic().getSubheader()}}</span>
      </figcaption>
    </figure>

    <section class="action-container">
      <hr />
      <div class="mozilla-action" ng-if="modalIssue.issue.getMozActionCopy()">
        <h3 class="detail-link__header">{{modalIssue.issue.getMiscLocale().mozDoingLabel}}</h3>
        <p>{{modalIssue.issue.getMozActionCopy()}}</p>
        <ul>
          <li ng-if="modalIssue.issue.getMozActionLink().length === 1">
            <a href="{{modalIssue.issue.getMozActionLink()[0].url}}" class="btn detail-link-btn">{{modalIssue.issue.getMozActionLink()[0].copy}}</a>
          </li>

          <li ng-if="modalIssue.issue.getMozActionLink().length > 1" ng-repeat="link in modalIssue.issue.getMozActionLink()">
            <a href="{{link.url}}" class="detail-link-multiple">{{link.copy}}</a>
          </li>
        </ul>
      </div>

      <div class="your-action" ng-if="modalIssue.issue.getYourActionCopy()">
        <h3 class="detail-link__header">{{modalIssue.issue.getMiscLocale().yourDoingLabel}}</h3>
        <p>{{modalIssue.issue.getYourActionCopy()}}</p>

        <ul>
          <li ng-if="modalIssue.issue.getYourActionLink().length === 1">
            <a href="{{modalIssue.issue.getYourActionLink()[0].url}}" class="btn detail-link-btn">{{modalIssue.issue.getYourActionLink()[0].copy}}</a>
          </li>

          <li ng-if="modalIssue.issue.getYourActionLink().length > 1" ng-repeat="link in modalIssue.issue.getYourActionLink()">
            <a href="{{link.url}}" class="detail-link-multiple">{{link.copy}}</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</article>
