<section class="modal modal--fade-if" ng-if="modalShare.open" ng-class="{true: 'fadeIn', false: 'fadeOut'}[modalShare.open]">
  <header class="modal__header">
    <h1>#openinternet</h1>
  </header>
  <a href="#" class="modal__close icon-close" data-lorax-prevent-default ng-click="modalShare.closeModal()">Close</a>
  <div class="modal__content">
    <ul class="sharing-list">
      <li class="sharing-list__item" data-id="{{::issue.getId()}}" ng-repeat="issue in ::modalShare.issues">
        <div class="sharing-quote">
          <blockquote class="sharing-quote__text">
            <p>{{::issue.getTitle()}}</p>
          </blockquote>
          <a class="sharing-quote__btn btn" ng-click="modalShare.onShare($event, issue)">Share</a>
          <a ng-href="{{::issue.getUrl()}}" class="sharing-quote__more" ng-click="modalShare.closeModal()">Learn more<span class="is-hidden-sm"> about this issue</span></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal modal--fade-if modal--share-second-step" ng-if="modalShare.onSecondStep">
    <a href="#" class="modal__back icon-back" data-lorax-prevent-default ng-click="modalShare.backToFirstStep()">Back</a>
    <a href="#" class="modal__close icon-close" data-lorax-prevent-default ng-click="modalShare.closeModal()">Close</a>
    <div class="modal__content">
      <div class="second-step">
        <blockquote class="second-step__text">
          <p>{{modalShare.secondStepIssue.getTitle()}}</p>
        </blockquote>
        <ul class="second-step__sharing">
          <li><a href="#" class="icon-twitter-sq" data-lorax-prevent-default ng-click="modalShare.shareTwitter(modalShare.secondStepIssue)">Twitter</a></li>
          <li><a href="#" class="icon-fb-sq" data-lorax-prevent-default ng-click="modalShare.shareFacebook(modalShare.secondStepIssue)">Facebook</a></li>
          <li><a ng-href="mailto:?subject={{modalShare.secondStepIssue.getTitle() | encodeUri}}" class="icon-email-sq ">Email</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
