<section class="modal modal--mobile-options modal--fade-if" ng-if="modalOptions.open">
  <ul class="mobile-options">
    <li class="mobile-options__mobile-option">
      <a href="#" class="mobile-option mobile-option--close icon-close" data-lorax-prevent-default ng-click="modalOptions.closeModal()" role="button">Close</a>
    </li>
    <li class="mobile-options__mobile-option">
      <a href="#" class="mobile-option icon-email" data-lorax-prevent-default ng-click="modalOptions.openEmail()" role="button" aria-haspopup="true">Sign Up For Email</a>
    </li>
    <li class="mobile-options__mobile-option">
      <a href="#" class="mobile-option icon-info" data-lorax-prevent-default ng-click="modalOptions.openAbout()" role="button" aria-haspopup="true">About</a>
    </li>
  </ul>
</section>
