<section class="modal modal--fade-if" ng-if="modalShare.open">
  <header class="modal__header modal__header-share">
    <h1>{{::modalShare.content.title}}</h1>
  </header>
  <a href="#" ng-class="{'sharing-quote__z-index': modalShare.onSecondStep}" class="modal__close modal__close-fixed icon-close" data-lorax-prevent-default ng-click="modalShare.closeModal()">Close</a>
  <div class="modal__content">
    <ul class="sharing-list">
      <li class="sharing-list__item sharing-quote__normal" data-id="{{::issue.getId()}}" ng-repeat="issue in ::modalShare.issues">
        <div class="sharing-quote">
          <blockquote class="sharing-quote__text">
            <a ng-href="{{::issue.getUrl()}}" class="sharing-quote__more" ng-click="modalShare.closeModal()">{{::issue.getName()}}</a>
            <a class="sharing-quote__text-link" ng-click="modalShare.onShare($event, issue)">{{::issue.getTitle()}}</a>
          </blockquote>
          <div ng-if="modalShare.currentIssue === issue && modalShare.onSecondStep" class="sharing-quote__buttons modal--fade-if-fast">
            <ul class="second-step__sharing">
              <li><a href="#" class="icon-twitter-sq" data-lorax-prevent-default ng-click="modalShare.shareTwitter(modalShare.currentIssue)">Twitter</a></li>
              <li><a href="#" class="icon-fb-sq" data-lorax-prevent-default ng-click="modalShare.shareFacebook(modalShare.currentIssue)">Facebook</a></li>
              <li><a href="#" class="icon-email-sq" data-lorax-prevent-default ng-click="modalShare.shareEmail(modalShare.currentIssue)">{{::modalShare.content.email}}</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
