<section class="modal modal--mobile-options modal--fade-if" ng-if="modalOptions.open">
  <h1 class="mobile-options__banner-logo"><a href="/" class="icon-circle">{{::modalOptions.miscData.siteHeader}}</a></h1>
  <ul class="mobile-options">
    <li class="mobile-options__mobile-option">
      <a href="#" class="mobile-option mobile-option--close icon-close" data-lorax-prevent-default ng-click="modalOptions.closeModal()">Close</a>
    </li>
    <li class="mobile-options__mobile-option">
      <a href="#" class="mobile-option icon-email" data-lorax-prevent-default ng-click="modalOptions.openEmail()">Sign Up For Email</a>
    </li>
    <li class="mobile-options__mobile-option">
      <a href="#" class="mobile-option icon-question" data-lorax-prevent-default ng-click="modalOptions.openLegend()">Legend</a>
    </li>
    <li class="mobile-options__mobile-option">
      <a href="#" class="mobile-option icon-share" data-lorax-prevent-default ng-click="modalOptions.openShare()">Share</a>
    </li>
    <li class="mobile-options__mobile-option">
      <a href="#" class="mobile-option icon-info" data-lorax-prevent-default ng-click="modalOptions.openAbout()">About</a>
    </li>
  </ul>
</section>


