.simple-grouped {
    .axis {
        path,
        line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
    }
    .bar {
      fill: steelblue;
    }
    .g text {
      text-anchor: end;
    }
    .y.axis {
        path {
          display: none;
        }
    }
}
