.simple-grouped {
    .axis {
        path,
        line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
    }
    .g {
        text {
          font-size: 1.4rem;
          text-anchor: end;
        }
    }
    .y.axis {
        path {
          display: none;
        }
    }
    .y {
        .tick {
          font-size: .8rem;
        }
        line {
            display: none;
        }
        text {
            fill: @white;
        }
    }
}
.column-chart {
    .x {
        text {
            fill: @white;
        }
    }
}
.line-chart,
.multi-series-line-chart {
    .line {
        fill: none;
        stroke: @black;
        stroke-width: 1.5px;
    }
}
/* custom stroke width for open source infographic */
.open-source-chart {
    .segment {
        path {
            stroke-width: 2.5px;
        }
    }
}
.line-chart {
    .x {
        text {
            fill: @white;
        }
    }
}
.multi-series-line-chart {
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .y text,
    .legend-label {
        fill: #000;
    }
    .x {
        .tick {
            text {
                transform: none;
            }
        }
    }
}
/* grid styles */
.grid {
    .tick {
        stroke: #000;
    }
    path {
        stroke-width: 0;
    }
}
