/* ==========================================================================
   Header
   ========================================================================== */

.banner {
  margin: 50px 0 8px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: @header-z-index;

  .at-medium({
    margin-top: 25px;
  });

  .at-xlarge({
    height: 238px;
    margin: 0;
  });
}

.banner-logo {
  margin: 0;

  .at-medium({
    padding: 0 15px;
  });

  > a {
    //background: url('../images/open-internet-cloud.png') no-repeat 10px 50% transparent;
    color: @black;
    display: block;
    .din-condensed-medium;
    .font-size(1.8);
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;

    .at-medium({
      background: none;
      height: 46px;
      line-height: 46px;
      text-align: left;
    });

    .at-xlarge({
      background: url('../images/open-internet-project.png') no-repeat 0 0 transparent;
      height: 149px;
      left: 13px;
      position: absolute;
      text-align: left;
      text-indent: -9999px;
      top: 30px;
      width: 107px;
    });
  }
}

.banner-mozilla {
  color: @extra-dark-grey;
  .font-size(1.1);
  .fira-sans-regular;
  line-height: 14px;
  margin: 0;
  text-align: center;

  .at-medium({
    .font-size(1.2);
    line-height: 14px;
    position: absolute;
    right: 15px;
    text-align: right;
    top: 9px;
  });

  .at-xlarge({
    line-height: 80px;
    right: 30px;
  });

  > span {
    .at-medium({
      display: inline;
    });
  }

  > a {
    .fira-sans-bold;

    .at-medium({
      display: block;
      .font-size(1.8);
      line-height: 18px;
    });

    .at-xlarge({
      display: inline;
      line-height: 80px;
    });
  }
}

.banner-info {
  background: url('../images/icon-info.png') no-repeat 0 0 transparent;
  display: none;
  height: 30px;
  text-indent: -9999px;
  width: 30px;

  .at-medium({
    display: block;
    left: 15px;
    position: absolute;
    top: 51px;
  });

  .at-xlarge({
    left: 30px;
    top: 200px;
  });
}

.banner__nav {
  height: 40px;

  .at-medium({

  });

  .at-xlarge({
    height: 80px;
  });
}

.banner-nav {
  .reset-list;

  position: fixed;
  top: 20px;
  left: 50%;

  .at-medium({
    margin: 0 auto;
    max-width: 460px;
    margin-left: -230px;
    min-width: 360px;
    margin-left: -180px;
    width: 60%;
  });

  .at-large({
    max-width: 520px;
    margin-left: -260px;
  });

  .flexbox & {
    .flexbox;
    .justify-content(space-between);
  }

  .no-flexbox & {
    .clearfix;
  }

  > li {
    .no-flexbox & {
      float: left;
      width: 25%;
    }
  }
}

.banner-nav__link {
  color: @extra-dark-grey;
  color: fade(@extra-dark-grey, 50%);
  display: block;
  .font-size(1);
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  .transition(all 0.1s ease-in-out);

  .at-medium({
    .font-size(1.3);
  });

  .at-xlarge({
    height: 80px;
    line-height: 80px;
  });

  .no-touch &:hover,
  &:focus {
    color: @white;
  }

  &.is-active {
    color: @white;
    .font-size(1.2);

    .at-medium({
      .font-size(1.6);
      letter-spacing: 2px;
    });

    .no-touch &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.down-arrow-nav {
  background: url('../images/down-arrow.png') no-repeat 0 0 transparent;
  width: 17px;
  height: 10px;
  position: fixed;
  bottom: 34px;
  left: 50%;
  margin-left: -9px;
  cursor: pointer;
}
