/* ==========================================================================
   Header
   ========================================================================== */

.banner {
    height: 0;
    left: 0;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: @header-z-index;

    [data-bg-mode="tag"] & {
        display: none;
    }

    .at-medium({
        top: 20px;
    });

    .at-xlarge({
        top: 0;
    });

    .is-detail & {
        position: relative;
    }
}

.banner-logo {
    margin: 0;

    .at-medium({
        display: none;
        padding: 0 30px;
    });

    .at-xlarge({
        display: block;
        left: 0;
        position: fixed;
        top: 50px;
        z-index: @header-z-index;
    });

    > a {
        background-position: 0 50%;
        background-size: 0;
        color: @black;
        display: block;
        .fira-sans-ultra;
        .font-size(1.8);
        line-height: 22px;
        padding-left: 20px;
        text-align: center;
        text-transform: uppercase;

        .at-xlarge({
            background-size: 10px;
            .font-size(2.2);
            text-align: left;
        });
    }
}

.banner-mozilla {
    color: @extra-dark-grey;
    .font-size(1.1);
    .fira-sans-regular;
    line-height: 14px;
    margin: 0;
    text-align: center;

    .at-medium({
        display: none; // TEMP
        .font-size(1.2);
        line-height: 14px;
        position: absolute;
        right: 30px;
        text-align: right;
        top: 14px;
        z-index: @header-z-index;
    });

    > span {
        .at-medium({
            display: inline;
        });
    }

    > a {
        .fira-sans-bold;

        .at-medium({
            display: block;
            .font-size(1.8);
            line-height: 18px;
        });

        .at-xlarge({
            display: inline;
            line-height: 80px;
        });
    }
}

.banner-info {
    background-size: 30px;
    display: none;
    height: 30px;
    text-indent: -9999px;
    width: 30px;

    .at-medium({
        display: block;
        left: 30px;
        position: fixed;
        top: 33px;
        z-index: @header-z-index;
    });

    .at-xlarge({
        left: auto;
        right: 30px;
        top: 45px;
    });
}



/* Banner Nav
   ========================================================================== */
.banner-nav-wrap {
    background-color: @body-bg;
    height: 60px;
    margin: 0 0 24px;
    padding: 0 20px;
    .transition(background-color 0.3s ease-in-out);

    .at-medium({
        height: 80px;
        left: 0;
        margin: 0;
        padding: 0 30px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: @header-z-index - 1;
    });

    .no-anim & {
        .transition(none);
    }

    [data-bg-mode="stop"] & {
        background-color: @stop;
    }

    [data-bg-mode="wait"] & {
        background-color: @wait;
    }

    [data-bg-mode="go"] & {
        background-color: @go;
    }
}

.banner-nav {
    .reset-list;

    .at-medium({
        margin: 0 auto;
        max-width: 420px;
        padding: 20px 0 0;
        width: 64%;
    });

    .at-large({
        max-width: 520px;
    });

    .flexbox & {
    .flexbox;
        .justify-content(space-between);
    }

    .no-flexbox & {
        .clearfix;
    }

    > li {
        .no-flexbox & {
            float: left;
            width: 25%;
        }
    }
}

.banner-nav__link {
    color: @extra-dark-grey;
    color: fade(@extra-dark-grey, 50%);
    display: block;
    .font-size(1);
    height: 60px;
    letter-spacing: 1px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    .transition(all 0.1s ease-in-out);

    .at-medium({
        .font-size(1.3);
    });

    .at-xlarge({
        height: 80px;
        line-height: 80px;
    });

    .no-touch &:hover,
    &:focus {
        color: @white;
    }

    &.is-active {
        color: @white;
        .font-size(1.2);

        .at-medium({
            .font-size(1.6);
            letter-spacing: 2px;
        });

        .no-touch &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.down-arrow-nav {
    background-position: 50%;
    background-size: 100%;
    width: 50px;
    height: 26px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: -25px;
}
