.modal-issue {
    color: @white;
    margin: 0 auto;
    padding: 3rem 2rem;
    min-height: 100%;

    @media only screen and (min-width: @breakTablet) {
        padding: 5rem;
    }

    @media only screen and (min-width: @breakDesktopWide) {
        padding: 10rem 5rem;
    }
    .content-container {
        position: relative;
        margin: 0 auto;
        max-width: 1600px;
    }
    h1 {
        margin-left: .3rem;
        .font-size(1.4rem);
        font-weight: normal;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }
    h2 {
        .font-size(4.2rem);
        font-weight: 300;
        letter-spacing: 0.1rem;
        line-height: 1.2;
    }
    h3 {
        .font-size(1.4rem);
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.2;
    }
    p {
        .font-size(1.6rem);
        line-height: 1.5;
    }
    header,
    .action-container {
        width: 85%;

        @media only screen and (min-width: @breakTablet) {
            margin-top: 6rem;
            padding: 0 30px 0 220px;
            width: 49%;
        }
    }
    figure {
        position: absolute;
        top: 55px;
        right: 0;
        padding: 0 6rem 0 1.8rem;
        width: 50%;

        @media only screen and (max-width: @breakTablet) {
            position: static;
            width: 90%;
        }
    }
    figcaption {
        margin-bottom: 16px;
        .font-size(2.5rem);
        line-height: 1.5;
        span {
            color: @black;
            display: block;
            color: @black;
            .font-size(1.5rem);
        }
    }
    .infographic-container {
        width: 100%;
    }
    .btn {
        color: @white;
        border-color: @white;
    }
    .mozilla-action,
    .your-action {
        display: block;
        margin-right: 5%;
        width: 90%;
        list-style: none;
        vertical-align: top;

        @media only screen and (min-width: @breakDesktop) {
            display: inline-block;
            width: 43%;
        }

        p {
            color: @black;
            padding-bottom: 1.5rem;
            .font-size(1.4rem);
        }
        ul {
            .reset-list();
        }
        li {
            margin-bottom: 16px;
        }
        a {
            color: @white;
            .font-size(1.1rem);
            font-weight: 600;
            text-transform: uppercase;
        }
        a:after {
            content: ' \00BB';
        }
    }
}
.action-container {
    margin-top: 3rem;
    p {
        .font-size(1.6rem);
    }
}
[data-bg-mode="stop"] & {
    background: fade(@stop, 90%);
}

[data-bg-mode="wait"] & {
    background: fade(@wait, 90%);
}

[data-bg-mode="go"] & {
    background: fade(@go, 90%);
}
