/* ==========================================================================
   Modals
   ========================================================================== */

.modal {
    background: @extra-dark-grey;
    color: @white;
    height: 100%;
    left: 0;
    min-width: 320px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: @modal-z-index;

    .at-xlarge({
        padding: 0 40px;
    });
}

.modal--mobile-options {
    background: fade(@neutral, 90%);
}

.modal--old-ie {
    background: fade(@neutral, 50%);
    padding: 0;
}

.modal__header {
    background: @extra-dark-grey;
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    .at-large({
        background: transparent;
        top: 40px;
    });

    > h1 {
        .fira-sans-light;
        .font-size(1.4);
        line-height: 70px;
        margin: 0;
        padding: 0 20px;

        .at-medium({
            .font-size(1.8);
        });

        .at-large({
            .font-size(2.1);
            padding: 0 40px;
        });
    }
}

.modal__close {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    height: 50px;
    position: fixed;
    right: 10px;
    text-indent: -9999px;
    top: 10px;
    width: 50px;
    z-index: 10;
}

.modal__close--legend {
    .at-medium({
        left: 260px;
        right: auto;
    });

    .at-large({
        left: 33%;
        margin-left: -60px;
    });
}

.modal__content {
    padding-top: 70px;

    .at-large({
        padding-top: 0;
        position: relative;
    });
}


/* Side Panel
   ========================================================================== */

.modal--side-panel {
    background: none;
    padding: 0;
}

.side-panel-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.side-panel {
    background: @white;
    color: @extra-dark-grey;
    height: 100%;
    min-width: 320px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 20px;
    position: fixed;
    width: 100%;

    .at-medium({
        width: 33%;
    });

    .at-large({
        padding: 0 40px;
    });

    @media (min-height: 700px) {
        .at-xlarge({
            padding: 0 60px;
        });
    }
}

.side-panel__content {
    padding-top: 80px;

    .at-large({
        padding-top: 120px;
    });

    @media (min-height: 700px) {
        .at-xlarge({
            padding-top: 160px;
        });
    }
}

.side-panel-title {
    .fira-sans-light;
    .font-size(2.8);
    line-height: 32px;
    margin: 0 0 20px;

    .at-large({
        .font-size(3.2);
        margin-bottom: 28px;
    });

    @media (min-height: 700px) {
        .at-xlarge({
            .font-size(3.6);
            margin-bottom: 32px;
        });
    }
}

.side-panel-copy {
    .font-size(1.4);
    .fira-sans-light;
    line-height: 25px;
    margin: 0 0 25px;

    .at-large({
        .font-size(1.8);
        line-height: 28px;
        margin-bottom: 28px;
    });

    @media (min-height: 700px) {
        .at-xlarge({
            .font-size(2.1);
            line-height: 32px;
            margin-bottom: 32px;
        });
    }
}


/* Share Modal
   ========================================================================== */

.sharing-list {
    .reset-list;

    > li {
        &:first-child {
            .at-large({
                padding-top: 40px;
            });
        }
    }
}


.sharing-quote {
    color: rgba(255,255,255,0.4);
    padding: 10px 0;
    .transition(color 0.2s ease-in-out);

    .at-large({
        padding: 15px 100px 15px 200px;
    });

    .at-xlarge({
        padding: 15px 200px;
    });

    &:hover {
        color: @white;
    }

    .flexbox & {
        .flexbox;
        .flex-direction(row);
        .align-items(center);
        .justify-content(space-between);
    }
}

.sharing-quote__text {
    margin: 0 10px 0 0;
    max-width: 650px;

    .flexbox & {
        width: 80%;

        .at-medium({
            width: 66%;
        });

        .at-xlarge({
            width: 60%;
        });
    }

    > p {
        .fira-sans-light;
        .font-size(1.6);
        line-height: 22px;
        margin: 0;

        .at-medium({
            .font-size(2);
            line-height: 28px;
        });

        .at-large({
            .font-size(2.6);
            line-height: 36px;
        });

        .at-xlarge({
            .font-size(3.2);
            line-height: 42px;
        });
    }
}

.sharing-quote__btn {
    display: block;
    .opacity(0);
    .transition(all 0.1s ease-in-out);

    .flexbox & {
        .flex-basis(80px);
        padding: 0;
        text-align: center;

        .at-medium({
            .flex-basis(100px);
        });
    }

    .no-touch &:hover,
    &:focus {
        border: 2px solid rgba(255,255,255,0.4);
        color: rgba(255,255,255,0.4);
    }

    .sharing-quote:hover & {
        .opacity(1);
    }
}

.sharing-quote__more {
    color: @white;
    display: none;
    .fira-sans-semibold;
    .font-size(1.1);
    letter-spacing: 0.5px;
    .opacity(0);
    text-transform: uppercase;
    .transition(all 0.1s ease-in-out);

    .at-xlarge({
        display: block;
    });

    .no-touch &:hover,
    &:focus {
        color: rgba(255,255,255,0.4);
    }

    .sharing-quote:hover & {
        .opacity(1);
    }
}

/* Email Modal
   ========================================================================== */

.keep-informed {
    padding-top: 20px;
    text-align: center;

    .at-medium({
        padding-top: 40px;
    });

    .at-large({
        padding-top: 160px;
    });
}

.keep-informed__header {
    margin-bottom: 8px;

    > h1 {
        .fira-sans-light;
        .font-size(2.2);
        line-height: 26px;
        margin: 0;
        text-transform: uppercase;
    }
}

.keep-informed__copy {
    color: @light-grey;
    color: rgba(255,255,255,0.2);
    .fira-sans-light;
    .font-size(1.6);
    line-height: 26px;
    max-width: 480px;
    margin: 0 auto 40px;

    .at-medium({
        margin-bottom: 60px;
    });

    .at-large({
        margin-bottom: 132px;
    });
}

.enter-email__email {
    margin: 0 auto 20px;
    max-width: 800px;
    width: 80%;

    > input {
        background: none;
        border: 0;
        border-bottom: 1px solid @light-grey;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        color: @white;
        display: block;
        .fira-sans-light;
        .font-size(2.2);
        line-height: 32px;
        outline: none;
        padding: 12px 0;
        .placeholder-color(rgba(255,255,255,0.2));
        text-align: center;
        width: 100%;

        .at-medium({
            .font-size(3.2);
        });
    }
}


/* About Modal
   ========================================================================== */

.side-panel--about {
    right: 0;
}


/* Legend Modal
   ========================================================================== */

.side-panel--legend {
    left: 0;
}

.legend-group {
    padding: 10px 0;

    > div {
        height: 24px;
        margin-bottom: 10px;
    }

    p {
        display: inline-block;
        margin: 0;
    }
}

.legend-symbol {
    display: inline-block;
    height: 18px;
    margin: 0 15px -4px 0;
    width: 18px;
}

.legend-symbol--blackdot,
.legend-symbol--greendot,
.legend-symbol--yellowdot,
.legend-symbol--reddot {
    .border-radius(18px);
    height: 10px;
    margin: 0 19px 0 4px;
    width: 10px;
}

.legend-symbol--blackdot {
    background: @extra-dark-grey;
}

.legend-symbol--greendot {
    background: @go;
}

.legend-symbol--yellowdot {
    background: @wait;
}

.legend-symbol--reddot {
    background: @stop;
}

.legend-symbol--line {
    border-top: 1px solid @extra-dark-grey;
    margin: 0 21px -10px -6px;
    transform:rotate(45deg);
}


/* Legend Modal
   ========================================================================== */

.mobile-options {
    .reset-list;
    padding: 20px 0;
}

.mobile-options__mobile-option {
    height: 30px;
    margin-bottom: 20px;
}

.mobile-option {
    background-position: 100% 50%;
    background-size: 30px;
    display: block;
    .font-size(1.8);
    line-height: 30px;
    padding-right: 50px;
    text-align: right;
    text-transform: uppercase;
    .transition(opacity 0.1s ease-in-out);

    .no-touch &:hover {
        .opacity(0.5);
    }
}

.mobile-option--close {
    text-indent: 9999px;

    .no-touch &:hover {
        .opacity(1);
    }
}


/* Old IE Modal
   ========================================================================== */

.old-ie {
    background: @extra-dark-grey;
    left: 0;
    min-height: 100%;
    padding: 40px 20px;
    position: absolute;
    top: 0;
    width: 100%;

    .at-medium({
        left: 10%;
        width: 400px;
    });

    .at-large({
        padding: 60px 40px;
        width: 480px;
    });

    .at-xlarge({
        left: 220px;
        padding: 80px 60px 40px;
        width: 580px;
    });
}

.old-ie__header {
    margin-bottom: 100px;
    padding-top: 60px;
    position: relative;

    .at-large({
        margin-bottom: 160px;
    });

    @media (min-height: 700px) {
        .at-xlarge({
            margin-bottom: 260px;
        });
    }

    > span {
        background-size: 56px;
        display: block;
        height: 56px;
        left: 0;
        .opacity(0.5);
        position: absolute;
        top: 0;
        width: 56px;
    }

    > h1 {
        color: @medium-grey;
        color: rgba(255,255,255,0.5);
        .fira-sans-light;
        .font-size(1.2);
        line-height: 36px;
        margin: 0;
        text-transform: uppercase;
    }
}

.old-ie__main {
    max-width: 30px;

    .at-large({
        max-width: 360px;
    });

    > p {
        color: @white;
        .fira-sans-medium;
        .font-size(1.4);
        line-height: 20px;
        margin: 0 0 32px;
        text-transform: uppercase;

        .at-large({
            letter-spacing: 0.5px;
        });
    }
}

.download-ie {
    border: 1px solid @medium-grey;
    border: 1px solid rgba(255,255,255,0.5);
    .border-radius(2px);
    color: @white;
    display: block;
    .fira-sans-book;
    .font-size(2.2);
    height: 54px;
    line-height: 22px;
    margin-bottom: 32px;
    padding: 6px 20px;
    position: relative;
    width: 264px;

    > em {
        display: block;
        .fira-sans-regular;
        .font-size(1.3);
    }

    > span {
        background-position: 100% 50%;
        background-size: 8px;
        display: block;
        height: 16px;
        margin-top: -8px;
        .opacity(0.5);
        position: absolute;
        right: 20px;
        top: 50%;
        width: 16px;
    }
}

.download-firefox {
    background: url('/images/download-firefox.png') 0 0 no-repeat transparent;
    display: block;
    height: 58px;
    text-indent: -9999px;
    width: 263px;
}

.download-links {
    .reset-list;
    padding-left: 16px;

    > li {
        color: @light-grey;
        display: inline-block;

        > a {
            color: @light-grey;
            .fira-sans-book;
            .font-size(1.1);
            line-height: 20px;

            .no-touch &:hover {
                text-decoration: underline;
            }
        }
    }
}
