.modal-issue {
    color: @white;
    margin: 0 auto;
    padding: 3rem 2rem;
    min-height: 100%;

    @media only screen and (min-width: @breakTablet) {
        padding: 5rem;
    }

    @media only screen and (min-width: @breakDesktopWide) {
        padding: 10rem;
    }
    .content-container {
        position: relative;
    }
    h1 {
        .font-size(2rem);
        font-weight: normal;
        letter-spacing: 0.05rem;
    }
    h2 {
        color: @black;
        .font-size(3.5rem);
        letter-spacing: 0.1rem;
        line-height: 1.2;
    }
    h3 {
        color: @black;
        .font-size(2.5rem);
        line-height: 1.2;
    }
    p {
        .font-size(2rem);
        line-height: 1.5;
    }
    header,
    .action-container {
        width: 85%;

        @media only screen and (min-width: @breakTablet) {
            width: 49%;
        }
    }
    figure {
        position: absolute;
        top: 0;
        left: 55%;
        width: 40%;

        @media only screen and (max-width: @breakTablet) {
            position: static;
            width: 90%;
        }
    }
    figcaption {
        margin-bottom: 16px;
        .font-size(2.5rem);
        line-height: 1.5;
        span {
            display: block;
            .font-size(1.5rem);
        }
    }
    .btn {
        color: @white;
        border-color: @white;
    }
    .mozilla-action,
    .your-action {
        display: block;
        margin-right: 5%;
        width: 90%;
        list-style: none;
        vertical-align: top;

        @media only screen and (min-width: @breakDesktop) {
            display: inline-block;
            width: 43%;
        }

        p {
            color: @black;
        }
        ul {
            .reset-list();
        }
        li {
            margin-bottom: 16px;
        }
        a:after {
            content: ' \00BB';
        }
    }
}
.action-container {
    margin-top: 3rem;
    p {
        .font-size(1.6rem);
    }
}
[data-bg-mode="stop"] & {
    background: fade(@stop, 90%);
}

[data-bg-mode="wait"] & {
    background: fade(@wait, 90%);
}

[data-bg-mode="go"] & {
    background: fade(@go, 90%);
}
