.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-arrow { background-image: url('png/arrow.png'); background-repeat: no-repeat; }

.icon-back { background-image: url('png/back.png'); background-repeat: no-repeat; }

.icon-circle-white { background-image: url('png/circle-white.png'); background-repeat: no-repeat; }

.icon-circle { background-image: url('png/circle.png'); background-repeat: no-repeat; }

.no-touch .mobile-option--close:hover,
.icon-close-inv { background-image: url('png/close-inv.png'); background-repeat: no-repeat; }

.icon-close-sm { background-image: url('png/close-sm.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-email-sq { background-image: url('png/email-sq.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon-explore-white,
.experience-menu__link--explore.is-active > span,
.experience-menu__link--explore:focus > span,
.no-touch .experience-menu__link--explore:hover > span,
.icon-explore-0 { background-image: url('png/explore-0.png'); background-repeat: no-repeat; }

.icon-explore-dark,
.icon-explore-1 { background-image: url('png/explore-1.png'); background-repeat: no-repeat; }

.icon-explore { background-image: url('png/explore.png'); background-repeat: no-repeat; }

.icon-fb-sq { background-image: url('png/fb-sq.png'); background-repeat: no-repeat; }

.icon-fb { background-image: url('png/fb.png'); background-repeat: no-repeat; }

.icon-info { background-image: url('png/info.png'); background-repeat: no-repeat; }

.icon-issues-white,
.experience-menu__link--issues.is-active > span,
.experience-menu__link--issues:focus > span,
.no-touch .experience-menu__link--issues:hover > span,
.icon-issues-0 { background-image: url('png/issues-0.png'); background-repeat: no-repeat; }

.icon-issues-dark,
.icon-issues-1 { background-image: url('png/issues-1.png'); background-repeat: no-repeat; }

.icon-issues { background-image: url('png/issues.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon-menu-dark,
.icon-menu-0 { background-image: url('png/menu-0.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-more { background-image: url('png/more.png'); background-repeat: no-repeat; }

.icon-question { background-image: url('png/question.png'); background-repeat: no-repeat; }

.icon-share { background-image: url('png/share.png'); background-repeat: no-repeat; }

.icon-topic-white,
.experience-menu__link--topic.is-active > span,
.experience-menu__link--topic:focus > span,
.no-touch .experience-menu__link--topic:hover > span,
.icon-topic-0 { background-image: url('png/topic-0.png'); background-repeat: no-repeat; }

.icon-topic-dark,
.icon-topic-1 { background-image: url('png/topic-1.png'); background-repeat: no-repeat; }

.icon-topic { background-image: url('png/topic.png'); background-repeat: no-repeat; }

.icon-twitter-sq { background-image: url('png/twitter-sq.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-warning { background-image: url('png/warning.png'); background-repeat: no-repeat; }

