<section class="main--detail">
    <article class="detail cf" data-status="go">
        <header class="detail__header">
            <h1>Is control over the internet distributed</h1>
        </header>
        <section class="detail__main">
            <div class="detail-main">
                <p class="detail-main__copy">The Internet ushered in a new era of freedom in publishing: from the 1990s, the only real barrier to being able to publish on the Internet was access and the technical skill-set.  Access has become cheaper and tools easier to use.  By the early 2000s, blogging platforms were widespread making self-publishing on the Web a trivial task for many, democratising the creation of content on the Internet. <a href="#" class="detail-main-read-more">Read More</a></p>
            </div>
        </section>
        <section class="detail__infographic">
            <section class="infographic">
                <header class="infographic__header">
                    <h1>Top 5 Internet Companies <span>by Revenue</span></h1>
                </header>

                <div class="infographic__wrapper">
                    <div class="decentralized-power"></div>
                </div>
            </section>
        </section>
        <section class="detail__more">
            <ul class="detail-links cf">
                <li>
                    <section class="detail-link">
                        <header class="detail-link__header">
                            <h1>What Mozilla is doing</h1>
                        </header>
                        <p class="detail-link__copy">Mozilla is always trying to protect personal freedom, to make sure you’re safe and under no unauthorized survaillence</p>
                        <a href="#" class="btn detail-link__btn">Read More</a>
                    </section>
                </li>
                <li>
                    <section class="detail-link">
                        <header class="detail-link__header">
                            <h1>What you can do</h1>
                        </header>
                        <p class="detail-link__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id placerat turpis, eu fermentum justo neque ullamcorper.</p>
                        <a href="#" class="btn detail-link__btn">Sign Petition</a>
                    </section>
                </li>
            </ul>
            <div class="detail-tags">
                <span class="detail-tags__related">Related Tags:</span>
                <a href="#" class="detail-tags__tag">Mozilla</a>,
                <a href="#" class="detail-tags__tag">Google</a>,
                <a href="#" class="detail-tags__tag">Apple</a>
            </div>
        </section>
    </article>

    <article class="detail detail--inverted cf" data-status="wait">
        <header class="detail__header">
            <h1>Is control over the internet distributed</h1>
        </header>
        <section class="detail__main">
            <div class="detail-main">
                <p class="detail-main__copy">The Internet ushered in a new era of freedom in publishing: from the 1990s, the only real barrier to being able to publish on the Internet was access and the technical skill-set.  Access has become cheaper and tools easier to use.  By the early 2000s, blogging platforms were widespread making self-publishing on the Web a trivial task for many, democratising the creation of content on the Internet. <a href="#" class="detail-main-read-more">Read More</a></p>
            </div>
        </section>
        <section class="detail__infographic">
            <section class="infographic">
                <header class="infographic__header">
                    <h1>Top 5 Longest Terms &amp; Conditions <span>by total words</span></h1>
                </header>

                <div class="infographic__wrapper">
                    <div class="terms-and-conditions cf"></div>
                </div>
            </section>
        </section>
        <section class="detail__more">
            <ul class="detail-links cf">
                <li>
                    <section class="detail-link">
                        <header class="detail-link__header">
                            <h1>What Mozilla is doing</h1>
                        </header>
                        <p class="detail-link__copy">Mozilla is always trying to protect personal freedom, to make sure you’re safe and under no unauthorized survaillence</p>
                        <a href="#" class="btn detail-link__btn">Read More</a>
                    </section>
                </li>
                <li>
                    <section class="detail-link">
                        <header class="detail-link__header">
                            <h1>What you can do</h1>
                        </header>
                        <p class="detail-link__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id placerat turpis, eu fermentum justo neque ullamcorper.</p>
                        <a href="#" class="btn detail-link__btn">Sign Petition</a>
                    </section>
                </li>
            </ul>
            <div class="detail-tags">
                <span class="detail-tags__related">Related Tags:</span>
                <a href="#" class="detail-tags__tag">Mozilla</a>,
                <a href="#" class="detail-tags__tag">Google</a>,
                <a href="#" class="detail-tags__tag">Apple</a>
            </div>
        </section>
    </article>

    <article class="detail cf" data-status="stop">
        <header class="detail__header">
            <h1>Is control over the internet distributed</h1>
        </header>
        <section class="detail__main">
            <div class="detail-main">
                <p class="detail-main__copy">The Internet ushered in a new era of freedom in publishing: from the 1990s, the only real barrier to being able to publish on the Internet was access and the technical skill-set.  Access has become cheaper and tools easier to use.  By the early 2000s, blogging platforms were widespread making self-publishing on the Web a trivial task for many, democratising the creation of content on the Internet. <a href="#" class="detail-main-read-more">Read More</a></p>
            </div>
        </section>
        <section class="detail__infographic">
            <section class="infographic">
                <div class="infographic__wrapper">
                    <table class="common-languages">
                        <thead>
                            <tr>
                                <th colspan="3">Spoken Languages</th>
                                <th>vs</th>
                                <th colspan="3">Internet Languages</th>
                            </tr>
                        </thead>
                        <tbody class="common-languages-content"></tbody>
                    </table>
                </div>
            </section>
        </section>
        <section class="detail__more">
            <ul class="detail-links cf">
                <li>
                    <section class="detail-link">
                        <header class="detail-link__header">
                            <h1>What Mozilla is doing</h1>
                        </header>
                        <p class="detail-link__copy">Mozilla is always trying to protect personal freedom, to make sure you’re safe and under no unauthorized survaillence</p>
                        <a href="#" class="btn detail-link__btn">Read More</a>
                    </section>
                </li>
                <li>
                    <section class="detail-link">
                        <header class="detail-link__header">
                            <h1>What you can do</h1>
                        </header>
                        <p class="detail-link__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id placerat turpis, eu fermentum justo neque ullamcorper.</p>
                        <a href="#" class="btn detail-link__btn">Sign Petition</a>
                    </section>
                </li>
            </ul>
            <div class="detail-tags">
                <span class="detail-tags__related">Related Tags:</span>
                <a href="#" class="detail-tags__tag">Mozilla</a>,
                <a href="#" class="detail-tags__tag">Google</a>,
                <a href="#" class="detail-tags__tag">Apple</a>
            </div>
        </section>
    </article>

    <article class="detail detail--inverted cf" data-status="wait">
        <header class="detail__header">
            <h1>Is control over the internet distributed</h1>
        </header>
        <section class="detail__main">
            <div class="detail-main">
                <p class="detail-main__copy">The Internet ushered in a new era of freedom in publishing: from the 1990s, the only real barrier to being able to publish on the Internet was access and the technical skill-set.  Access has become cheaper and tools easier to use.  By the early 2000s, blogging platforms were widespread making self-publishing on the Web a trivial task for many, democratising the creation of content on the Internet. <a href="#" class="detail-main-read-more">Read More</a></p>
            </div>
        </section>
        <section class="detail__infographic">
            <section class="infographic">
                <header class="infographic__header">
                    <h1>Growth of the Internet Industry Lobbying Costs &amp; Insider Lobbyists <span>Percent by Year</span></h1>
                </header>

                <div class="infographic__wrapper">
                    <div class="lobbying-costs"></div>
                </div>
            </section>
        </section>
        <section class="detail__more">
            <ul class="detail-links cf">
                <li>
                    <section class="detail-link">
                        <header class="detail-link__header">
                            <h1>What Mozilla is doing</h1>
                        </header>
                        <p class="detail-link__copy">Mozilla is always trying to protect personal freedom, to make sure you’re safe and under no unauthorized survaillence</p>
                        <a href="#" class="btn detail-link__btn">Read More</a>
                    </section>
                </li>
                <li>
                    <section class="detail-link">
                        <header class="detail-link__header">
                            <h1>What you can do</h1>
                        </header>
                        <p class="detail-link__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id placerat turpis, eu fermentum justo neque ullamcorper.</p>
                        <a href="#" class="btn detail-link__btn">Sign Petition</a>
                    </section>
                </li>
            </ul>
            <div class="detail-tags">
                <span class="detail-tags__related">Related Tags:</span>
                <a href="#" class="detail-tags__tag">Mozilla</a>,
                <a href="#" class="detail-tags__tag">Google</a>,
                <a href="#" class="detail-tags__tag">Apple</a>
            </div>
        </section>
    </article>
</section>
