<div ng-controller="ExperienceCtrl">
  <ul class="experience-menu">
    <li><a ng-class="{'is-active': (experience.currentView === 'explore')}" class="experience-menu__link experience-menu__link--explore" href="#" ng-click="experience.switchView('explore');"><span class="icon-explore-dark">Ecosystem</span></a></li>
    <li><a ng-class="{'is-active': (experience.currentView === 'topics')}" class="experience-menu__link experience-menu__link--topic" href="#" ng-click="experience.switchView('topics');"><span class="icon-topic-dark">Vitals</span></a></li>
    <li><a ng-class="{'is-active': (experience.currentView === 'issues')}" class="experience-menu__link experience-menu__link--issues" href="#" ng-click="experience.switchView('issues');"><span class="icon-issues-dark">Checklist</span></a></li>
  </ul>
</div>
