<div ng-controller="ExperienceCtrl">
  <ul class="experience-menu">
    <li><a ng-class="{'is-active': (experience.currentView === 'explore')}" class="experience-menu__link icon-explore-dark" href="#" ng-click="experience.switchView('explore');"><span class="experience-icon-circle-empty"></span> Explore</a></li>
    <li><a ng-class="{'is-active': (experience.currentView === 'topics')}" class="experience-menu__link icon-topic-dark" href="#" ng-click="experience.switchView('topics');"><span class="experience-icon-th"></span> Topics</a></li>
    <li><a ng-class="{'is-active': (experience.currentView === 'issues')}" class="experience-menu__link icon-issues-dark" href="#" ng-click="experience.switchView('issues');"><span class="experience-icon-menu"></span> Issues</a></li>
  </ul>
</div>
