.fira-sans-ultra() {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-style: normal;
}

.fira-sans-bold() {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-semibold() {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-medium() {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-regular() {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-book() {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.fira-sans-light() {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.fira-sans-xlight() {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-style: normal;
}
