/*@font-face {
  font-family: 'fira-sans-bold';
  src: url('../fonts/fira-sans/FiraSans-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira-sans-semibold';
  src: url('../fonts/fira-sans/FiraSans-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira-sans-medium';
  src: url('../fonts/fira-sans/FiraSans-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira-sans-regular';
  src: url('../fonts/fira-sans/FiraSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira-sans-book';
  src: url('../fonts/fira-sans/FiraSans-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira-sans-light';
  src: url('../fonts/fira-sans/FiraSans-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira-sans-xlight';
  src: url('../fonts/fira-sans/FiraSans-ExtraLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: 'din-condensed-medium';
  src: url('../fonts/DINCond-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.fira-sans-bold() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-semibold() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-medium() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-regular() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-book() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-light() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-xlight() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.din-condensed-medium() {
  font-family: 'din-condensed-medium', sans-serif;
  font-weight: normal;
  font-style: normal;
}